body {
  background-color:#f8f8f8;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h1 {
  color:#ec008e;
  font-size: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color:#ec008e;
  font-size: 36px;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  width:100%;
  min-width:400px;

}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 10%;
  min-width: 120px;
  padding: 1%;
  order: 1;
}

.main-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: calc(90% - 120px);
  border-left: 2px solid #D7DBDD;
  order: 2;
}

.item-image{
  display: flex;
  width: 50%;
  min-width: 200px;
}

.votes-chart {
  width:90%;
  max-width:800px;
  font-size: 24px;
}

.item-table {
  width:60%;
  max-width:800px;
  font-size: 20px;
}

.note {
  font-style: italic;
  font-size: 12px;
}

#entries-table {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 90%;
  max-width: 1600px;
  word-wrap: break-word;
  word-break: break-all;
}


/* Mobile Layout */
@media (max-width: 768px) {
  .page-wrapper {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    order: -1;
    border-right: 0px;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }

  .main-body {
    width: 100%;
    border-top: 2px solid #D7DBDD;
    align-items: center;
    justify-content: center;
    border-left: 0px;
  }

  .item-table {
    width:90%;
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

}