body {
  background-color:#f8f8f8;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h1 {
  color:#ec008e;
  font-size: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color:#ec008e;
  font-size: 36px;
}

a:link {
  color:#ec008e;
}

a:visited {
  color:#86005f;
}

ul {
  display:flex;
  align-items: center;
  justify-content: center;
  padding:0px;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date { 
  text-align: center; 
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td{
  text-align: center;
}

table.dataTable th div.dt-column-header {
  flex-direction: row !important;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  width:100%;
  min-width:400px;

}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 10%;
  min-width: 120px;
  order: 1;
}

.main-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: calc(90% - 120px);
  border-left: 2px solid #D7DBDD;
  order: 2;
}

.item-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-image{
  display: flex;
  max-width: 50%;
  min-width: 200px;
}

.item-table {
  width:60%;
  max-width: 800px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  table-layout: fixed;
}

.chart {
  max-width: 1200px;
}

.note {
  font-style: italic;
  font-size: 12px;
}

#entries-table {
  width: 90%;
  max-width: 1600px;
}


/* Mobile Layout */
@media (max-width: 768px) {
  .page-wrapper {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    order: -1;
    border-right: 0px;
    width: 100%;
    flex: 1 1 auto;
    font-size: 12px;
  }

  .main-body {
    width: 100%;
    border-top: 2px solid #D7DBDD;
    align-items: center;
    justify-content: center;
    border-left: 0px;
  }

  .item-table {
    width:90%;
    font-size: 18px;
  }

  #entries-table {
    width: 100%;
    font-size: 10px;
    text-align: center;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

}