---
title: About
permalink: "about.html"
layout: base.njk
---

<div class = "main-body about-content">

<h1>Hot or Not</h1>

<h2>What is Hot or Not?</h2>

<p>Hot or Not is an annual survey, in which you're invited to rate 300 items from 1 (not) to 10 (hot). The current hottest of all time is Earthquake by Labyrinth ft Tinie Tempah.</p>

<p>The next survey will open on 28 February 2027. The results will be announced in May 2027.</p>

<h2>A letter from the founder</h2>

<p>Hot or Not was originally conceived in 2019 as a room full of magazine photos pegged to a clothesline, in which attendees of my birthday party could spend a happy evening moving images up or down until we unanimously agreed on the hottest image.

<br><br>

Unfortunately parties in a room were thin on the ground in 2020, and the process was digitised. We've run it digitally every year since, which is good, as 150+ people would not fit in my living room! 

<br><br>

I'm keenly aware that Mark Zuckerberg's dreadful Facebook began as something not dissimilar, and so it's essential that Hot or Not is not just about rating humans. In this survey, we're comparing titans like Keira Knightley as the Pirate King and Zohran Mamdani with double decker trains and pigs in blankets. And we're empirically discovering which is hottest (pigs in blankets).

<br><br>

My birthday party has become an annual ceremony where I present over 100+ slides of beautiful data, and celebrate the winners and losers with my friends. Save the date for Sunday 6th May 2029, when I plan to celebrate our 10th anniversary in style! 

<br><br>

None of this would be possible without the hard work and support of my partner, Andy. It's very useful to have a data scientist on hand when you want to analyse hundreds of thousands of data points, and turn them into something that's fun and exciting! 

<br><br>

This project quite literally wouldn't work without people spending hours of their life contemplating which is the hottest poppadom topping, or arguing about whether the Windows Media Player visualizations deserved that win in 2023. Thank you to everyone who's ever done even a part of the survey, and to those of you sharing it with your friends. 

<br><br>

Kit</p>

<h2>Hall of Fame</h2>

<table class="about-table">
  <thead>
    <th width = 100px></th>
    <th>Hottest</th>
    <th>Nottest</th>
  </thead>
  <tbody>
    <tr>
      <td><b>2026</b></td>

      <td> <img class="about-image" src="/raw_image/2026/Zohran Mamdani (Mayor of NYC)_.jpg" alt="Zohran Mamdani (Mayor of NYC)"> <br> <a href='/2026/zohran-mamdani-mayor-of-nyc'>Zohran Mamdani (Mayor of NYC)</a> </td>

      <td> <img class="about-image" src="/raw_image/2026/Lembit Opik (this man dated one of The Cheeky Girls).jfif" alt="Lembit Opik (this man dated one of The Cheeky Girls)"> <br> <a href='/2026/lembit-opik-this-man-dated-one-of-the-cheeky-girls'>Lembit Opik (this man dated one of The Cheeky Girls)</a> </td>
      </tr><tr>

      <td><b>2025</b></td>

      <td> <img class="about-image" src="/raw_image/2025/Northern Lights.jpg" alt="Northern Lights"> <br> <a href='/2025/northern-lights'>Northern Lights</a> </td>

      <td> <img class="about-image" src="/raw_image/2025/Sharepoint.jpg" alt="Sharepoint"> <br> <a href='/2025/sharepoint'>Sharepoint</a> </td>
      </tr><tr>

      <td><b>2024</b></td>

      <td> <img class="about-image" src="/raw_image/2024/Double Decker Trains.jpg" alt="Double Decker Trains"> <br> <a href='/2024/double-decker-trains'>Double Decker Trains</a> </td>

      <td> <img class="about-image" src="/raw_image/2024/Andrew Lloyd-Webber.jpg" alt="Andrew Lloyd-Webber"> <br> <a href='/2024/andrew-lloydwebber'>Andrew Lloyd-Webber</a> </td>
      </tr><tr>

      <td><b>2023</b></td>

      <td> <img class="about-image" src="/raw_image/2023/Windows Media Player visualizations.jpg" alt="Windows Media Player visualizations"> <br> <a href='/2023/windows-media-player-visualizations'>Windows Media Player visualizations</a> </td>

      <td> <img class="about-image" src="/raw_image/2023/carpal tunnel syndrome.jpg" alt="carpal tunnel syndrome"> <br> <a href='/2023/carpal-tunnel-syndrome'>carpal tunnel syndrome</a> </td>
      </tr><tr>

      <td><b>2022</b></td>

      <td> <img class="about-image" src="/raw_image/2022/Pigs in Blankets.jpg" alt="Pigs in Blankets"> <br> <a href='/2022/pigs-in-blankets'>Pigs in Blankets</a> </td>

      <td> <img class="about-image" src="/raw_image/2022/Living Statues.jpg" alt="Living Statues"> <br> <a href='/2022/living-statues'>Living Statues</a> </td>
      </tr><tr>

      <td><b>2021</b></td>

      <td> <img class="about-image" src="/raw_image/2021/Earthquake - Labrinth feat. Tinie Tempah.jpg" alt="Earthquake - Labrinth feat. Tinie Tempah"> <br> <a href='/2021/earthquake-labrinth-feat-tinie-tempah'>Earthquake - Labrinth feat. Tinie Tempah</a> </td>

      <td> <img class="about-image" src="/raw_image/2021/Dishes in the Sink.jpg" alt="Dishes in the Sink"> <br> <a href='/2021/dishes-in-the-sink'>Dishes in the Sink</a> </td>
      </tr><tr>

      <td><b>2020</b></td>

      <td> <img class="about-image" src="/raw_image/2020/This punchline.png" alt="This punchline"> <br> <a href='/2020/this-punchline'>This punchline</a> </td>

      <td> <img class="about-image" src="/raw_image/2020/Rahul.png" alt="Rahul"> <br> <a href='/2020/rahul'>Rahul</a> </td>
    </tr>
  </tbody>
</table>

</div>