---
title: Hotter or Notter
permalink: "game.html"
layout: base.njk
---

<div class = "about-content">

<h1>Hotter or Notter</h1>

<div class="aspect-ratio">

<iframe frameborder="0" src="https://itch.io/embed-upload/18477974?color=969695" allowfullscreen="" width = "80%" display = "flex" allowtransparency="true" ><a href="https://andysug.itch.io/hotter-or-notter">Play Hotter or Notter on itch.io</a></iframe>

</div>

<p>
In 2025, lacking stimulation during that year's series of Love Island, Andy made a Higher or Lower game featuring Hot or Not entries - and it's now been updated with all 2026 data.

<br><br>

If you have praise for or find issues with the game, please let me know via the Contact Us link on this page. I only promise to respond to praise, but rest assured all emails are greatly appreciated.
</p>
</div>