---
title: All Entries
layout: base.njk
---

<h1>Hot or Not</h1>

<table id="entries-table" class="display table" style="width:100%">
  <thead>
    <tr>
      <th>Item</th>
      <th>Year</th>
      <th>Score</th>
      <th>Rank in Year</th>
      <th>Rank All Time</th>
      <th>Scorers</th>
    </tr>
  </thead>
  <tbody>
    {% for item in entries %}
    <tr>
      <td><a href="{{ item.url }}">{{ item.item }}</a></td>
      <td>{{ item.year }}</td>
      <td>{{ item.score }}</td>
      <td>{{ item.rank_year }}</td>
      <td>{{ item.rank_alltime }}</td>
      <td>{{ item.scores_given }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p class="note">In this table, overall scores are rounded to two decimal places, and ties are not broken. In true yearly 'Hot or Not' results, scores are not rounded, and the higher placed item in a tie is decided by more 10s scored, followed by fewer 1s scored.</p>

<script>
  $(document).ready(function() {
    new DataTable('#entries-table', {
        columns: [
        { name: 'item' },
        { name: 'year' },
        { name: 'score' },
        { name: 'rank_year' },
        { name: 'rank_alltime' },
        { name: 'scorers' }
        ],
        order: {
            name: 'rank_alltime',
            dir: 'asc'
        },
        pageLength: 50
    });
  });
</script>