---
title: All Entries
layout: base.njk
---

<h1>Hot or Not — All Entries</h1>

<table id="entries-table" class="display">
  <thead>
    <tr>
      <th>Item</th>
      <th>Year</th>
      <th>Score</th>
      <th>Rank in Year</th>
      <th>Rank All Time</th>
      <th>Scorers</th>
    </tr>
  </thead>
  <tbody>
    {% for item in entries %}
    <tr>
      <td><a href="{{ item.url }}">{{ item.item }}</a></td>
      <td>{{ item.year }}</td>
      <td>{{ item.score }}</td>
      <td>{{ item.rank_year }}</td>
      <td>{{ item.rank_alltime }}</td>
      <td>{{ item.scores_given }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function() {
    new DataTable('#entries-table', {
        columns: [
        { name: 'item' },
        { name: 'year' },
        { name: 'score' },
        { name: 'rank_year' },
        { name: 'rank_alltime' },
        { name: 'scorers' }
        ],
        order: {
            name: 'rank_alltime',
            dir: 'asc'
        },
        pageLength: 50,
    });
  });
</script>