<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Hot or Not | {{ title }}</title>
  <link rel="icon" type="image/x-icon" href="/raw_image/favicon.ico">

  <link rel="stylesheet" href="https://cdn.datatables.net/3.0.0/css/dataTables.dataTables.css" />
  <link href="https://cdn.datatables.net/responsive/4.0.0/css/responsive.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@800&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/3.0.0/js/dataTables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.datatables.net/responsive/4.0.0/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/4.0.0/js/responsive.dataTables.min.js"></script>

  <script id="item-list" type="application/json">
    [
      {% for item in entries %}"{{ item.url }}"{% if not loop.last %},{% endif %}{% endfor %}
    ]
  </script>

  <script>
    const posts = JSON.parse(document.querySelector("#item-list").textContent);
    const random = posts[Math.floor(Math.random() * posts.length)];
  </script>

</head>
<body>

  <div class="page-wrapper">
    <div class="sidebar">
      <ul><a href="/index.html">Hot or Not</a></ul>
      <ul><a href="/about.html">About</a></ul>
      <ul><a href="/game.html">The Game</a></ul>
      <ul><a href="mailto:hello@hotornot.hot?subject=Hello">Contact Us</a></ul>
      <ul><a href="" id="random-link">Random Item</a></ul>
    </div>

  <main class="main-body">
    {{ content | safe }}
  </main>
</div>

<script>
  const randomLink = document.querySelector("#random-link");
  randomLink.setAttribute("href",random);
</script>

</body>
</html>